@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* background-color: black; */
}

body {
    font-family: "Urbanist", sans-serif;   
}


.container {
    max-width: 1080px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

section {
    padding: 50px 0;
}

.sticky_header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: sticky;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 3px 3px -8px 3px #ddd;
    z-index: 99;
}

/* Additional css for the carousel */
.slick-slider{
    width: 100%;
    margin: 0 auto;
}
/* Adjust slider item width for smaller screens */
.slick-slide {
    display: flex !important;
    justify-content: center;
}

/* Adjust slider arrows for smaller screens */
.slick-prev, .slick-next {
    display: none;
}

.icon-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots{
    bottom: 10px;
}

.slick-dots li button:before{
    color: #8873ef
}

@media only screen and (max-width: 768px){
    /* .exit-button{
        position: absolute;
        top: 10px;
        left: 84%;
        color: #8873ef;
        cursor:pointer;
        font-size: 20px;

    } */

    .exit-button{
        margin-bottom: 150px;
        margin-left: 25%;
        color: #9A031E;
    }


    /* show arrows only on larger screens */
    .slick-prev, .slick-next {
        display:block;
        z-index: 1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-radius: 50%; 
    }

    .slick-prev {
        left: 10px;
    }

    .slick-next {
        right: 10px;
    }

    .menu {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: #00000084;
        z-index: 100;
        display: none;
    }

    .menu ul{
        width: 15rem;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 200;
        background: #fff;
        flex-direction: column;
        line-height: 30px;
        justify-content: center;
        align-items: center;
    }

    .show__menu{
        display: block;
    }

    .slick-slider{
        width: 100%;
    }
        
}